@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    padding-top: 4.4rem;
}


.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.9);
    height: 4.4rem;
}

.navbar-container {
    position: relative;
    max-width: 100rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.main-navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-top: 1rem;
}

.home a{
    color: white;
    font-size: 1.1rem;

}

.main-navbar-items {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-navbar-item {
    list-style: none;
}

.main-navbar-item a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    margin: 0 2rem;
}

.home a:hover, .main-navbar-item a:hover {
    color: white;
    text-decoration: none;
    opacity: 0.7;
    transition: opacity 0.15s;
}