
#myChart {
    width: 1100px;
    height: 1100px;
    margin: 0 auto;
    margin-left: 0;
  }
  
.info-bar {
  display: flex;
  flex-direction: row;
  background-color: aqua;
  justify-content: flex-end;
  width: 300px;
  margin-left: 1200px;
  
}

.buy-bar {
  margin-right: 25px;
}

  .buy-button {
    background-color: rgb(11, 86, 191);
    color: white;
    width: 150px;
    flex: 1;
    height: 34px;
    border-radius: 5px;
    text-align: center;

    padding-top: 4px;
    padding-bottom: 4px;

    font-size: 16px;
    font-family: Arial;

    cursor: pointer;
    border-bottom-color: rgba(0, 0, 0, 0.12);
    border: none;
  }


  .sell-button {
    flex: 1;
    background-color: #db1222;
    color: white;

    width: 150px;
    height: 34px;
    border-radius: 5px;

    padding-top: 4px;
    padding-bottom: 4px;

    font-family: Arial;
    font-size: 16px;
    text-align: center;

    cursor: pointer;
    border: none;
  }