
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#myChart {
  }
  

.container1 {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.container2 {
  display: flex;
  flex-direction: column;
}

.stock-header {
  margin: 0;
  position: absolute;
  margin-top: 75px;
  margin-left: 230px;
}

.stock-header .company-name {
  opacity: 0.8;
  margin-left: 4px;
  font-family: Arial;
}

.stock-header .stock-ticker {
  font-size: 18px;
  font-family: Arial;
  
}

.buttons {
  display: flex;
  margin-left: 240px;
  margin-top: 200px;

  
}

.chart-div {
  margin-top: 100px;
  margin-left: 0;
  width: 1000px;
  height: 1000px;
}



.buy-button-container {
}

.sell-button-container {
  margin-left: 15px;
}


.sell-button, .buy-button {
  background-color: rgb(200, 23, 23);
  color: white;

  height: 42px;
  width: 140px;

  border-radius: 5px;
  border: none;

  padding-left: 4px;
  padding-right: 4px;
  padding-top: 8px;
  padding-bottom: 8px;

  cursor: pointer;
}

.buy-button {
  background-color: #007bff;
}

.stock-info {
  margin-left: 300px;
  
}


.stock-position {
  margin-top: 10px;
  font-size: 20px;
  font-family: Arial;
}

.position-table {
  width: 50%;
  border-collapse: collapse;
  margin-top: 26px;
  margin-right: 450px;
}

th, td {
  border: 1px solid black;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}