{% extends 'base.html' %}

{% block title %} Buying stock {% endblock %}

{% block content %}
<body class="text-center">
    <div class="container">
        <h2>You are buying {{ stock_ticker }} at {{ stock_price }}$</h2>
        <form method="POST" style="color: white">
            {{ form.hidden_tag() }}

            {{ form.shares.label() }}
            {{ form.shares(class="form-control", placeholder="Shares")}}

            <br>
            
            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
        </form>

        <img src="{{ url_for('static', filename='graphs/' + filename) }}">
    </div>
</body>
{% endblock %}