{% extends 'base.html' %}

{% block title %} Buying stock {% endblock %}

{% block content %}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='styles/stock_page.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css') }}">


<body>
    {% include 'includes/buy_stock_modal.html' %}
    {% include 'includes/sell_stock_modal.html' %}

    <div class="grid">

        <div class="stock-header">
            {{ stock_ticker }} <span class="company-name">{{ company_name }}</span>
        </div>

        <div class="chart-div">
            <canvas id="myChart"></canvas>
            <script>
                // Get the data from Flask
                const prices = JSON.parse('{{ prices | tojson }}');
                const dates = JSON.parse('{{ dates | tojson }}');

                // Set the data
                const data = {
                labels: dates,
                datasets: [{
                    label: 'Price',
                    data: prices,
                    borderColor: 'blue',
                    fill: false
                }]
                };

                // Set the options
                const options = {
                responsive: true,
                title: {
                    display: true,
                    text: 'Price vs Time'
                },
                scales: {
                    xAxes: [{
                    type: 'time',
                    time: {
                        unit: 'hour'
                    },
                    scaleLabel: {
                        display: true,
                        labelString: 'Time'
                    }
                    }],
                    yAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'Price'
                    }
                    }]
                }
                };

                // Create the chart
                const ctx = document.getElementById('myChart').getContext('2d');
                const myChart = new Chart(ctx, {
                type: 'line',
                data: data,
                options: options
                });
            </script>
        </div>

    

        
        <div class="buy-button-container">
            <button type="button" class="buy-button" data-toggle="modal" data-target="#buyModal">
                Buy Stock
            </button>        
        </div>

        <div class="sell-button-container">
            <button type="button" class="sell-button" data-toggle="modal" data-target="#sellModal">
                Sell Stock
            </button>        
        </div>
    
    </div>


  
</body>
{% endblock %}