{% extends 'base.html' %}

{% block title %} Stock Broker {% endblock %}

{% block content %}
<link rel="stylesheet" href="../static/styles/home.css">

<body>
    <div class="background">
        <img src="static/images/background-home.jpg" alt="stock graph" width="100%">
    </div>

    <div class="main-container">
        <h2 class="header">Your favorite stock broker</h2>
        <p class="sub-header">Get started by clicking the button below!</p>
        <a class="button" href="{{ url_for('views.profile_page') }}">Get Started</a>
    </div>
</body>


{% endblock %}
