{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<body class="bg-light text-dark" style="margin:0px">
    

    <div class="row " style="margin-top:20px; margin-left:20px">
        <div class="col-8">
            <h2>Portfolio</h2>
            <br>
        <table class="table table-hover table-dark">
            <thead>
                <tr>
                    <!-- Your Columns HERE -->
                    <th scope="col">Ticker</th>
                    <th scope="col">Shares</th>
                    <th scope="col">Price</th>
                    <th scope="col">Date</th>
                </tr>
            </thead>
            <tbody>
                <!-- Your rows inside the table HERE: -->
                {% for stock in stocks %}
                <tr>
                    <td>{{ stock.ticker }}</td>
                    <td>{{ stock.shares }}</td>
                    <td>{{ stock.average_price }}$</td>
                    <td>{{ stock.date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-6">
                <a class="btn btn-primary btn-lg" href="{{ url_for('views.stock_ticker_page') }}" role="button">Buy</a>
                <a class="btn btn-primary btn-lg" href="{{ url_for('views.sell_stock_page') }}" role="button">Sell</a>
            </div>
        </div>
    </div>

    {% if account %}
        <div class="container">
            
            <h2>Bank Account</h2>
            <table class="table table-hover table-dark">
                <thead>
                    <tr>
                        <!-- Your Columns HERE -->
                        <th scope="col">Balance</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Your rows inside the table HERE: -->
                    <tr>
                        <td>{{ account.prettier_balance }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    
    {% else %}
        <div class="container">
            <form method="POST" style="color:white">
                {{ form.hidden_tag() }}
                <br>
                <br>
                <br>
                {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
            </form>
        </div>
    {% endif %}
    

</body>
{% endblock %}